.container {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-top {
  pointer-events: none;
}

body {
  background: #222;
  margin: 0;
  padding: 0;
}

#scanner {
  position: absolute;
  height: 100vh;
  left: 0px;
  top: 0;
  width: 2px;
  background: white;
  box-shadow: 0px 0px 15px 10px rgb(255 255 255 / 50%);
  pointer-events: none;
}