.container {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas-top {
  pointer-events: none;
}

body {
  background: #222;
  margin: 0;
  padding: 0;
  color: white;
  font-family: monospace;
}

#scanner {
  position: absolute;
  height: 100vh;
  left: 0px;
  top: 0;
  width: 2px;
  background: white;
  box-shadow: 0px 0px 15px 10px rgb(255 255 255 / 50%);
  pointer-events: none;
}

#instructions {
  padding: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

button {
  font-family: monospace;
  margin-top: 5px;
}

.nick {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.nick a {
  color: white;
}